<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CovidCare">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- The below 3 permissions are for local notifs -->
   
    <activity
    android:showWhenLocked="true"
    android:turnScreenOn="true">
    <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
    </receiver>
</manifest>
